.button {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-radius: var(--radius);
    font-weight: 400;
    line-height: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: var(--font-family);
    color: var(--white);
    background-color: var(--primary);
    height: fit-content;
}

.s {
    padding: 6px 12px;
    font-size: 14px;
}

.m {
    padding: 8px 16px;
    font-size: 16px;
}

.l {
   padding: 10px 20px;
    font-size: 18px;
}

.button:hover {
    background-color: var(--primary-hover);
}
