.button {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-radius: var(--radius);
    font-weight: 400;
    line-height: 100%;
    cursor: pointer;
    transition: background 0.2s ease;
    font-family: var(--font-family);
    color: var(--white);
    background-color: var(--primary);
    height: fit-content;
    user-select: none;
}

.s {
    padding: 5px 10px;
    font-size: 12px;
}

.m {
    padding: 8px 16px;
    font-size: 16px;
}

.l {
    padding: 10px 20px;
    font-size: 18px;
}

.button:hover {
    background-color: var(--primary-hover);
}

.notice {
    background-color: transparent;
    border: 1px solid var(--red);
    color: var(--red);
    transition: none;
}

.notice:hover {
    background: var(--red);
    color: var(--white);
}

.disabled {
    pointer-events: none;
    opacity: 0.8;
}
