.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    padding: 10px 20px;
    font-size: 16px;
    background: var(--grey-light);
    border-radius: var(--radius);
    border: none;
    color: var(--black);
}

.input:focus-visible{
    outline: 1px solid var(--primary);
}

.inputWrapper{
    display: flex;
    flex-direction: column;
}

.error, .error:focus-visible{
    outline: 1px solid var(--red);
}

.errorText{
    font-size: 12px;
    color: var(--red);
}