.list{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 80dvh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info{
    font-family: var(--font-family);
    color: var(--text-lighten);
    font-size: 12px;
}