:root {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;

    --text: #3b434e;
    --white: #fff;
    --primary: #7351f5;
    --primary-hover: #6344df;
    --primary-light: #e7e5f3;
    --red: #fc836d;
    --grey-light: #edecec;
    --grey: #b3c0d9;
    --text-lighten: #6c7077;
    --font-family: "Noto Sans", sans-serif;
    --radius: 6px;
    --radius-large: 16px;
}

@media (width >= 768px) {
    :root {
        --radius: 8px;
        --radius-large: 20px;
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary-light);
    min-height: 100dvh;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #e5e5e5;
    border-radius: 8px;
    margin-left: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 8px;
}

*::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgb(0 0 0 / 20%); */
    background-color: var(--grey-light);
    border-radius: 8px;
    margin-left: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li {
    margin: 0;
    line-height: 120%;
}
